body{
    
    margin: 0;
    background-color:  #FFFFFF;
    font-family: 'Arial', sans-serif;

}
.logo{
  position: absolute;
  top: 12%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 0px;


}
.banner {
  background-image: url("https://cdn.awsli.com.br/600x450/1231/1231330/produto/49182638/3b05c9e2af.jpg");
    background-size: cover;
    width: 140%;
    height: 390px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 0px;
    width: 100%;
  }
  
 
  
  .banner-texto {
    position: absolute;
    top: 32%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5); 
    padding: 15px;
    margin-top: 0px;
  }

  .menu-container {
    background-color: #DEB887;
    padding: 20px;
  }
  .menu {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  .menu li {
    margin-right: 20px;
  }
  .menu a {
    text-decoration: none;
    color: #333;
    border: 2px solid #0d420f;
    border-radius: 5px;
    padding: 10px 15px;
    transition: background-color 0.3s;
  }
  .menu a:hover {
    background-color:#fac5ce ;
  }
   
  
  h1 {
    font-size: 2.5em;
  }
  
  p {
    font-size: 1.2em;
  }
  



#sobre {
  text-align: center;
}

.co{
   
  padding: 1em;

}

.ab{
    font-family: 'Arial', sans-serif; 
    color: #0c0e0c;
    text-align: center;
    padding: 20px;
    background-color: #FFF8DC;
    border-bottom: 8px solid #DEB887; 
    margin-bottom: 30px; 
    border-top: 8px solid#DEB887;
  
  }
 

 
  

.form-container{
    width: 350px;
    background-color:#8fa190;
    padding: 1em;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(39, 51, 39, 0.1);
    text-align: left;
    padding-right: 50px;
   



}
h2{
    font-size: 24px;

}
input[type="text"],
input[type="email"],
input[type="password"] {
    width:100%;
    padding: 10px;
    margin-bottom:20px;
    border: 1px solid #ccc;
    border-radius :5px;

}
textarea{
    width: 100%;
    padding: 10px;
    margin-bottom:20px ;
    border:1px solid #ccc;
    border-radius: 5px;
    resize: vertical;
    
}

.accept-terms{
    margin-bottom: 20px;

}
.submit-button,
.cancel-button{
    background-color: #2f573b;
    color: #fffeff;
    font-size: 18px;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;

}
.cancel-button{
    background-color:#f5a1af;

}

    

 
